TFSChecker/bin/Debug/TFS2010.exe
TFSChecker/bin/Debug/TFS2010.pdb
TFSChecker/bin/Debug/TFS2010.vshost.exe.manifest
TFSChecker/bin/Release/TFS2010.exe
TFSChecker/bin/Release/TFS2010.pdb
TFSChecker/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TFSChecker/obj/x86/Debug/TFS2010.exe
TFSChecker/obj/x86/Debug/TFS2010.pdb
TFSChecker/obj/x86/Debug/TFSChecker.csproj.FileListAbsolute.txt
TFSChecker/obj/x86/Debug/TFSChecker.csproj.GenerateResource.Cache
TFSChecker/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
TFSChecker/obj/x86/Release/TFS2010.exe
TFSChecker/obj/x86/Release/TFS2010.pdb
TFSChecker/obj/x86/Release/TFSChecker.csproj.GenerateResource.Cache
TFSChecker/bin/Debug/TFS2010.exe
TFSChecker/bin/Debug/TFS2010.pdb
TFSChecker/bin/Debug/TFS2010.vshost.exe.manifest
TFSChecker/bin/Release/TFS2010.exe
TFSChecker/bin/Release/TFS2010.pdb
TFSChecker/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TFSChecker/obj/x86/Debug/TFS2010.exe
TFSChecker/obj/x86/Debug/TFS2010.pdb
TFSChecker/obj/x86/Release/TFS2010.exe
TFSChecker/obj/x86/Release/TFS2010.pdb
TFSChecker/obj/x86/Release/TFSChecker.csproj.GenerateResource.Cache
